---
title: Home
blog: tech
---
-# coding: utf-8
- content_for :head do
  %title Utensil on Github
  /[if lt IE 9]
    <link href="http://fonts.googleapis.com/css?family=Amaranth:400,700" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  = stylesheet_link_tag "index.css"
  = stylesheet_link_tag "fonts/Amaranth.css"
  = stylesheet_link_tag "fonts/PT-Mono.css"
  = stylesheet_link_tag "tipTip.css"
  = stylesheet_link_tag "jquery-github-widget-default-theme.css"

%h1.title<
  Uten
  %span.fork-me-before<>
    sil
  %a{:href => "https://github.com/utensil", :target => "_blank"}
    %img.fork-me-overlay{:src => "../images/fork.png"}/
%h2.subtitle
  %p
    %span In fascination of
    = succeed "," do
      %span.main-idea creating worlds by words
  %p
    %span and in pursuit of
    = succeed "." do
      %span.main-idea words behind the world
  %p
    %span 对
    = succeed "" do
      %span.main-idea 用语句构建世界
    %span 的迷恋，
  %p
    %span 以及对
    = succeed "" do
      %span.main-idea 世界背后的话语
    %span 的追索。


