---
title: Tags
---
-# coding: utf-8
%section.tags
  #tag_cloud
  - blog.tags.each do |tag, articles|
    %div{:id => "tag-#{tag}" }
      %h3
        = tag
      %ul.listing
        - articles.reverse_each do |article|
          %li.listing-item
            %time{:datetime => article.date}=article.date.strftime('%Y-%m-%d')
            %a{:href => article.url}=article.title
            -# %div
            -#   %backquote
            -#     = article.summary
- content_for :head do
  = stylesheet_link_tag "jqcloud.css"
- content_for :scripts do
  = javascript_include_tag "jqcloud-1.0.1.js"
  = javascript_include_tag "tags.js"
