---
title: Tags
---
-# coding: utf-8
%section.tags
  #tag_cloud
  - tags_of('writings', true).sort_by{|tag, articles| -articles.size }.each do |tag_and_articles|
    - tag = tag_and_articles[0]
    - articles = tag_and_articles[1]
    - if articles.size > 1
      %div{:id => "tag-#{tag}" }
        %h3
          = tag
        %ul.listing
          - articles.sort_by { |a| date_of(a) }.reverse.each do |article|
            %li.listing-item
              %time{:datetime => date_of(article)}=date_of(article).strftime('%Y-%m-%d %H:%M')
              %a{:href => article.url}=article.data['title']
- content_for :head do
  = stylesheet_link_tag "jqcloud.css"
- content_for :scripts do
  = javascript_include_tag "jqcloud-1.0.1.js"
  = javascript_include_tag "tags.js"
