---
title: Tags
blog: writings
---
-# coding: utf-8
%section.tags
  #tag_cloud
  - blog.tags.each.sort_by{|tag, articles| -articles.size }.each do |tag_and_articles|
    - tag = tag_and_articles[0]
    - articles = tag_and_articles[1]
    %div{:id => "tag-#{tag}" }
      %h3
        = tag
      %ul.listing
        - articles.each do |article|
          %li.listing-item
            %time{:datetime => article.date}=article.date.strftime('%Y-%m-%d')
            %a{:href => article.url}=article.title
            -# %div
            -#   %backquote
            -#     = article.summary
- content_for :head do
  = stylesheet_link_tag "jqcloud.css"
- content_for :scripts do
  = javascript_include_tag "jqcloud-1.0.1.js"
  = javascript_include_tag "tags.js"
