-# coding: utf-8
!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    / Always force latest IE rendering engine (even in intranet) &amp; Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    /[if (lt IE 9)&(!IEMobile)]
      = javascript_include_tag 'html5.js'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= current_page.data.title
    = stylesheet_link_tag 'site.css'
    = stylesheet_link_tag 'blog.css'
    = stylesheet_link_tag 'highlight/sunburst.css'    
    = yield_content :head
    /[if lt IE 9]
      = javascript_include_tag 'respond.js'

  %body{:class => ''}
    - @blog_name = ""
    #container
      #main{:role => "main"}
        %aside.sidebar
          %nav
            = yield_content :nav
        = yield_content :sidebar
        %div.content
          %header
            = yield_content :header
            %h1
              = current_page.data['title']
          %article
            = yield
            = yield_content :footer

    = javascript_include_tag 'jquery-1.7.1.js'
    - code_mode = (current_page.data.code_mode || '').split(/\|/)
    - if code_mode.include?('math')
      - # = javascript_include_tag 'mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML'
      - # = javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'
      = javascript_include_tag 'http://mathjax.connectmv.com/MathJax.js?config=TeX-AMS-MML_HTMLorMML'
      :javascript
        MathJax.Hub.Config({
          TeX: { 
            equationNumbers: { autoNumber: "all" }, 
            extensions: ["enclose.js"]
          },
          extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
          tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              skipTags: ['script', 'noscript', 'style', 'textarea'],
          }
        });
        MathJax.Hub.Queue(function() {
            // Fix <code> tags after MathJax finishes running. This is a
            // hack to overcome a shortcoming of Markdown. Discussion at
            // https://github.com/mojombo/jekyll/issues/199
            var all = MathJax.Hub.getAllJax(), i;
            for(i = 0; i < all.length; i += 1) {
                if(all[i].SourceElement().parentNode.className.indexOf('has-jax') == -1)
                {
                  all[i].SourceElement().parentNode.className += ' has-jax';
                }
                if(all[i].SourceElement().parentNode.className.indexOf('no-highlight') == -1)
                {
                  all[i].SourceElement().parentNode.className += ' no-highlight';
                }
            }
        });
    - if code_mode.include?('lang') || code_mode.size == 0
      = javascript_include_tag 'highlight.pack.js'
      :javascript
        hljs.initHighlightingOnLoad();
        $(document).ready(function() {          
          $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
        });
      /! start Mixpanel
      :javascript
        (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!== typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]); b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]); mixpanel.init("eda89891866a7e90b6699df21e79ea61");
        mixpanel.track("visit");
      /! end Mixpanel 
    = yield_content :scripts
    
